---
import Submit from "../components/Submit.astro";
import Layout from "./Layout.astro";

const { frontmatter, url} = Astro.props;
console.log(frontmatter.week);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.year} - {frontmatter.week}</title>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <Layout>
      <div id="container">
        <h3>সংখ্যা: #{frontmatter.week} - প্রকাশিত: {frontmatter.published} </h3>
        <slot />
        <Submit url={url} />
      </div>
    </Layout>
  </body>
</html>

<style>
  * {
    background-color: lightyellow;
  }
  #container {
    padding: 1rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
  @media screen and (min-width: 450px) {
    #container {
      width: 50%;
      max-width: 800px;
      margin: 0 auto;
    }
  }
</style>
